* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}


body {
  height: 100vh;
  background-color: #80808033;
}

a {
  text-decoration: none;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;

  background-image: url(../img/1.jpg);
  /* background: repeat; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.info {
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  background: #080808cf;

}

.info-base {
  color: white;
  font-family: 'Caveat', cursive;
  font-size: 10rem;
  /* padding-top: 0rem; */
  text-shadow: 6px 3px 2px black;
}

.base {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
}


.info-menu {
  width: 100%;
  /* margin: 0 auto; */
  display: flex;
  align-content: flex-start;
  color: black;
  padding-left: 3rem;
  padding-top: 2rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

.info-fat {
  padding-top: .5rem;
  width: 30px;

}

.experience {
  display: flex;
  background-color: #000000cf;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

.expe-base {
  font-size: 32px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  text-align: center;
  padding-top: 2rem;
}

.expe_quote {
  margin-top: 1rem;
  font-size: 1.3rem;
  font-style: italic;
  color: rgb(245 245 245);
  text-align: center;
}

.c_code {
  height: 150px;
  width: 170px;
}

.icon {
  height: 100%;
  width: 1004px;
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding-top: 2rem;
  
}

.c_name {
  text-align: center;
  color: white;
  font-size: 2.5rem;
  font-family: 'Caveat', cursive;
}



#menu {
  height: 73px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  align-content: stretch;
  background-color: #00000094;
}

#navigator {
  width: 783px;
  line-height: 50px;
  box-shadow: 0 7px 6px -7px #373435;
  -webkit-box-shadow: 0 7px 6px -7px #373435;
  -moz-box-shadow: 0 7px 6px -7px #373435;
}


#navigator .title {
  display: none;
}

#navigator ul {
  list-style: none;
}

#navigator>ul>li {
  width: 14.28%;
  float: left;
}

#navigator>ul>li>a {
  color: #f5eeee;
  font-size: 15px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-align: center;
  display: block;
  margin-top: 1rem;
}

#navigator>ul>li:hover>a {
  background: rgb(255, 255, 255);
  color: rgb(12, 12, 12);
}

#menu ul ul li a {
  color: #fefefe;
  font-size: 14px;
  font-family: ui-sans-serif;
  text-transform: uppercase;
  display: block;
  padding: 12px 7px;
  border-top: 1px solid rgba(255, 255, 255, 0.045);
  border-bottom: 1px solid rgba(0, 0, 0, 0.045);
  text-transform: uppercase;
}

#menu li:hover>a {
  background: #444;
  border-radius: 1px solid;
}

.sub_main {
  width: 100%;
  height: 549px;
  display: flex;
  flex-direction: column;
  /* margin-top: 8rem; */
  align-items: center;
}

.about{
  width: 100%;
  height: 100%;
}

.sub_main-name {
  font-size: 3rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 10rem;
  color: white;
  text-shadow: 3px 4px 4px black;
}

.sub_main-text {
  font-size: 1.3rem;
  font-style: italic;
  color: white;
}

.sub_main-position {
  font-size: 1.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 400;
  color: white;
}


.next {

  height: 600px;
  width: 50%;
  display: flex;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
}



.info-header {
  margin-top: -1.8rem;
  font-size: 4rem;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  color: #0a0a0a;
  text-shadow: 3px 4px 4px #f9f9f9;
  margin-left: 3rem;
  padding-bottom: 1rem;
}

.qoute-header {
  font-size: 1.3rem;
  font-style: italic;
  color: rgb(8, 8, 8);
  text-align: center;
}

.header_name {
  width: 50%;

}

.next-img {
  margin-top: 1.5rem;
  width: 336px;
}

.nav {
  padding-right: 18px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.profile {
  margin-top: 6rem;
  height: 300px;
  width: 300px;
  background: aliceblue;
  border-radius: 50%;
  box-shadow: -3px -3px 12px black;
}

.box {
  margin-top: -8rem;
  height: 300px;
  width: 300px;
  background: white;
  /* border-radius: 50%; */
  box-shadow: -3px -3px 12px #9d9d9dfc;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.info-details {
  text-align: center;
  margin-top: 0.5rem;
}


.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
#myUp {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 99;
  font-size: .5rem;
  border: none;
  outline: none;
  background-color: #8080807d;
  color: #fbf8f8;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 10%;
}

#myUp:hover {
  background-color: rgb(250, 250, 250);
  color: black;
}

.up_icon {
  height: 66px;
}

.support {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.support_img {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  background-image: url(../img/skill.jpg);
  /* background: repeat; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.support_details {
  width: 50%;
  height: 100%;
}

.support_tech {
  text-align: center;
    font-size: 3rem;
    padding-top: 1rem;
}

.support_content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding-top: 1rem;
  margin-left: 0.5rem;
}

.data {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 600;
}

.data_link {
  font-size: 1rem;
  font-weight: 200;
}

@media screen and (max-width: 1968px) {
  .sub_main-name {
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 0rem;
    color: white;
    text-shadow: 3px 4px 4px black;
}

.info-base {
  color: white;
  font-family: 'Caveat', cursive;
  font-size: 10rem;
  padding-top: 3rem;
  text-shadow: 6px 3px 2px black;
}

.info-details {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 2rem;
}

.qoute-header {
  font-size: 2rem;
  font-style: italic;
  color: rgb(8, 8, 8);
  text-align: center;
}

.expe-base {
  font-size: 44px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  text-align: center;
  padding-top: 2rem;
}

.icon {
  height: 100%;
  width: 1500px;
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  gap: 14rem;
  padding-top: 2rem;
}

.c_code {
  height: 200px;
  width: 200px;
}

.support_tech {
  text-align: center;
  font-size: 4rem;
  padding-top: 6rem;
}

.data {
  font-size: 2rem;
  font-style: italic;
  font-weight: 600;
}

.data_link {
  font-size: 1.5rem;
  font-weight: 200;
}

}

@media screen and (max-width: 1024px) {

  .main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  
    background-image: url(../img/1.jpg);
    /* background: repeat; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .info {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    background: #080808cf;
  
  }
  
  .info-base {
    color: white;
    font-family: 'Caveat', cursive;
    font-size: 10rem;
    /* padding-top: 0rem; */
    text-shadow: 6px 3px 2px black;
  }
  
  .base {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    gap: 12rem;
    margin-top: 3rem;
  }
  
  
  .info-menu {
    width: 100%;
    /* margin: 0 auto; */
    display: flex;
    align-content: flex-start;
    color: black;
    padding-left: 3rem;
    padding-top: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
  }
  
  .info-fat {
    padding-top: .5rem;
    width: 30px;
  
  }
  
  .experience {
    display: flex;
    background-color: #000000cf;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
  }
  
  .expe-base {
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    padding-top: 2rem;
  }
  
  .expe_quote {
    margin-top: 1rem;
    font-size: 1.3rem;
    font-style: italic;
    color: rgb(245 245 245);
    text-align: center;
  }
  
  .c_code {
    height: 150px;
    width: 170px;
  }
  
  .icon {
    height: 100%;
    width: 1004px;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    padding-top: 2rem;
    
  }
  
  .c_name {
    text-align: center;
    color: white;
    font-size: 2.5rem;
    font-family: 'Caveat', cursive;
  }
  
  
  
  #menu {
    height: 73px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    align-content: stretch;
    background-color: #00000094;
  }
  
  #navigator {
    width: 783px;
    line-height: 50px;
    box-shadow: 0 7px 6px -7px #373435;
    -webkit-box-shadow: 0 7px 6px -7px #373435;
    -moz-box-shadow: 0 7px 6px -7px #373435;
  }
  
  
  #navigator .title {
    display: none;
  }
  
  #navigator ul {
    list-style: none;
  }
  
  #navigator>ul>li {
    width: 14.28%;
    float: left;
  }
  
  #navigator>ul>li>a {
    color: #f5eeee;
    font-size: 15px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-align: center;
    display: block;
    margin-top: 1rem;
  }
  
  #navigator>ul>li:hover>a {
    background: rgb(255, 255, 255);
    color: rgb(12, 12, 12);
  }
  
  #menu ul ul li a {
    color: #fefefe;
    font-size: 14px;
    font-family: ui-sans-serif;
    text-transform: uppercase;
    display: block;
    padding: 12px 7px;
    border-top: 1px solid rgba(255, 255, 255, 0.045);
    border-bottom: 1px solid rgba(0, 0, 0, 0.045);
    text-transform: uppercase;
  }
  
  #menu li:hover>a {
    background: #444;
    border-radius: 1px solid;
  }
  
  .sub_main {
    width: 100%;
    height: 549px;
    display: flex;
    flex-direction: column;
    /* margin-top: 8rem; */
    align-items: center;
  }
  
  .about{
    width: 100%;
    height: 100%;
  }
  
  .sub_main-name {
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10rem;
    color: white;
    text-shadow: 3px 4px 4px black;
  }
  
  .sub_main-text {
    font-size: 1.3rem;
    font-style: italic;
    color: white;
  }
  
  .sub_main-position {
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 400;
    color: white;
  }
  
  
  .next {
  
    height: 600px;
    width: 50%;
    display: flex;
    align-items: center;
    align-content: flex-start;
    justify-content: center;
  }
  
  
  
  .info-header {
    margin-top: -1.8rem;
    font-size: 4rem;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: #0a0a0a;
    text-shadow: 3px 4px 4px #f9f9f9;
    margin-left: 3rem;
    padding-bottom: 1rem;
  }
  
  .qoute-header {
    font-size: 1.5rem;
    font-style: italic;
    color: rgb(8, 8, 8);
    text-align: center;
  }
  
  .header_name {
    width: 50%;
  
  }
  
  .next-img {
    margin-top: 1.5rem;
    width: 336px;
  }
  
  .nav {
    padding-right: 18px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .profile {
    margin-top: 6rem;
    height: 300px;
    width: 300px;
    background: aliceblue;
    border-radius: 50%;
    box-shadow: -3px -3px 12px black;
  }
  
  .box {
    margin-top: -8rem;
    height: 300px;
    width: 300px;
    background: white;
    /* border-radius: 50%; */
    box-shadow: -3px -3px 12px #9d9d9dfc;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .info-details {
    text-align: center;
    margin-top: 0.5rem;
  }
  
  
  .text-focus-in {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }
  
  @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }
  
    100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }
  
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }
  
    100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }
  #myUp {
    display: none;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 99;
    font-size: .5rem;
    border: none;
    outline: none;
    background-color: #8080807d;
    color: #fbf8f8;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 10%;
  }
  
  #myUp:hover {
    background-color: rgb(250, 250, 250);
    color: black;
  }
  
  .up_icon {
    height: 66px;
  }
  
  .support {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
  }
  
  .support_img {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    background-image: url(../img/skill.jpg);
    /* background: repeat; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .support_details {
    width: 50%;
    height: 100%;
  }
  
  .support_tech {
    text-align: center;
      font-size: 3rem;
      padding-top: 11rem;
  }
  
  .support_content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding-top: 1rem;
    margin-left: 0.5rem;
  }
  
  .data {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 600;
  }
  
  .data_link {
    font-size: 1.2rem;
    font-weight: 200;
  }
  
}


@media screen and (max-width: 1550px) {

  .sub_main-name {
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 6rem;
    color: white;
    text-shadow: 3px 4px 4px black;
}

  .support_tech {
    text-align: center;
    font-size: 4rem;
    padding-top: 3rem;
}

  .base {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
}

.icon {
    height: 100%;
    width: 1200px;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    gap: 6rem;
    padding-top: 2rem;
}

.support_img {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  background-image: url(../img/skill.jpg);
  /* background: repeat; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.support_details {
  width: 70%;
  height: 100%;
}
}

@media screen and (max-width: 1332px) {

  .info-details {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 1.5rem;
}
}


@media screen and (max-width: 1120px) {
.icon {
  height: 100%;
  width: 800px;
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  gap: 6rem;
  padding-top: 2rem;
}

.c_code {
  height: 150px;
  width: 150px;
}

}

@media screen and (max-width: 1020px) {
  .sub_main-name {
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 7rem;
    color: white;
    text-shadow: 3px 4px 4px black;
}
  }

  @media screen and (max-width: 1000px) {
    .qoute-header {
      font-size: 1.5rem;
      font-style: italic;
      color: rgb(8, 8, 8);
      text-align: center;
  }
  .c_code {
    height: 100px;
    width: 100px;
}

  .icon {
    height: 100%;
    width: 800px;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    gap: 5rem;
    padding-top: 2rem;
}
    }

    @media screen and (max-width: 970px) {
      .base {
        height: 70%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-content: flex-start;
        gap: 1rem;
        margin-top: 3rem;
    }

    .info-base {
      color: white;
      font-family: 'Caveat', cursive;
      font-size: 7rem;
      /* padding-top: 0rem; */
      text-shadow: 6px 3px 2px black;
  }

  .info-details {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 1.2rem;
}
      }

@media screen and (max-width: 840px) {
  .info {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    background: #080808cf;
}
  

.base {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  gap: 2rem;
  margin-top: 3rem;
}
  }

  .info-base {
    color: white;
    font-family: 'Caveat', cursive;
    font-size: 5rem;
    /* padding-top: 0rem; */
    text-shadow: 6px 3px 2px black;
}

  @media screen and (max-width: 800px) {
    .icon {
      height: 100%;
      width: 609px;
      display: flex;
      /* flex-direction: row; */
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      align-items: flex-start;
      gap: 5rem;
      padding-top: 2rem;
  }

  .c_code {
    height: 100px;
    width: 100px;
  }

  .c_name {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-family: 'Caveat', cursive;
}

.base {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  gap: 1rem;
  margin-top: 1rem;
}

  }

  @media screen and (max-width: 730px) {
    .base {
      height: 80%;
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: center;
      align-content: flex-start;
      gap: 1rem;
      margin-top: 3rem;
  
  }

  .info-base {
    color: white;
    font-family: 'Caveat', cursive;
    font-size: 2rem;
    padding-top: 0rem;
    text-shadow: 6px 3px 2px black;
}

.info-details {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 2rem;
}

  .info-menu{
    display: none;
  }

  .info {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    background: #080808cf;
}

  }


  
  @media screen and (max-width: 670px) {
    .info {
      height: 10%;
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-content: flex-start;
      background: #080808cf;
  }

  .info-base {
    color: white;
    font-family: 'Caveat', cursive;
    font-size: 1.5rem;
    padding-top: 1rem;
    text-shadow: 6px 3px 2px black;
}

.base {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  /* gap: 0.12rem; */
  /* margin-top: 0rem; */
}

.info-menu{
  display: none;
}

.sub_main-name {
  font-size: 3rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 7rem;
  color: white;
  text-shadow: 3px 4px 4px black;
}

.icon {
  height: 100%;
  width: 442px;
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  gap: 3.8rem;
}

.c_code {
height: 100px;
width: 100px;
}

.c_name {
text-align: center;
color: white;
font-size: 1rem;
font-family: 'Caveat', cursive;
}

.support_tech {
text-align: center;
font-size: 2rem;
padding-top: 5rem;
}

.support_img{
display: none;
}

.support_details {
width: 100%;
height: 100%;
}

  }

  @media screen and (max-width: 600px) {
    .sub_main-name {
      font-size: 2rem;
      font-family: Georgia, 'Times New Roman', Times, serif;
      margin-top: 7rem;
      color: white;
      text-shadow: 3px 4px 4px black;
  }
  .sub_main-text {
    font-size: 1.3rem;
    font-style: italic;
    color: white;
    text-align: center;
}
  }


  @media screen and (max-width: 400px) {

    
    .sub_main-name {
      font-size: 1.5rem;
      font-family: Georgia, 'Times New Roman', Times, serif;
      margin-top: 12rem;
      color: white;
      text-shadow: 3px 4px 4px black;
  }
  .sub_main-text {
    font-size: 1rem;
    font-style: italic;
    color: white;
    text-align: center;
}

.base {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  gap: 1rem;
  margin-top: 1.5rem;

}

.info-details {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 0.80rem;
}
  }

  @media screen and (max-width: 450px) {

    .c_code {
      height: 80px;
      width: 100px;
  }

    .info-details {
      text-align: center;
      margin-top: 0.5rem;
      font-size: .80rem;
  }
    #navigator {
      width: 655px;
      line-height: 50px;
      box-shadow: 0 7px 6px -7px #373435;
      -webkit-box-shadow: 0 7px 6px -7px #373435;
      -moz-box-shadow: 0 7px 6px -7px #373435;
  }

  .support_tech {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 5rem;
}

.data {
  font-size: 1rem;
  font-style: italic;
  font-weight: 600;
}





  .expe-base {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    padding-top: 2rem;
}

.expe_quote {
  margin-top: 1rem;
  font-size: 1rem;
  font-style: italic;
  color: rgb(245 245 245);
  text-align: center;
}

  .icon {
    height: 100%;
    width: 348px;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    gap: 1.8rem;
}
  }


  @media screen and (max-width: 360px) {

    .support_tech {
      text-align: center;
      font-size: 1rem;
      padding-top: 1rem;
  }

    .sub_main-name {
      font-size: 1.5rem;
      font-family: Georgia, 'Times New Roman', Times, serif;
      margin-top: 11rem;
      color: white;
      text-shadow: 3px 4px 4px black;
  }

  .sub_main-position {
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 400;
    color: white;
}

.sub_main-text {
  font-size: .80rem;
  font-style: italic;
  color: white;
  text-align: center;
}

    .icon {
      height: 100%;
      width: 300px;
      display: flex;
      /* flex-direction: row; */
      flex-wrap: wrap;
      align-content: flex-start;
      justify-content: center;
      align-items: flex-start;
      gap: 0.8rem;
  }

  .expe_quote {
    margin-top: 1rem;
    font-size: .70rem;
    font-style: italic;
    color: rgb(245 245 245);
    text-align: center;
}

  .expe-base {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    padding-top: 2rem;
}

  .c_code {
    height: 50px;
    width: 100px;
}

    .info-details {
      text-align: center;
      margin-top: 0.5rem;
      font-size: .90rem;
  }
    #navigator {
      width: 493px;
      line-height: 50px;
      box-shadow: 0 7px 6px -7px #373435;
      -webkit-box-shadow: 0 7px 6px -7px #373435;
      -moz-box-shadow: 0 7px 6px -7px #373435;
  }

  .nav {
    padding-right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 0.5rem;
}

#navigator>ul>li>a {
  color: #f5eeee;
  font-size: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-align: center;
  display: block;
  margin-top: 1rem;
}

  }

  @media screen and (max-width: 330px) {

    .info-details {
      text-align: center;
      margin-top: 0.5rem;
      font-size: .70rem;
  }
  }




